    <!-- TOASTERS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/commons/toast.css') }}">

    <template id=t-toast>
        <div class="toast" noselect>
            <div class=message rounded></div>
            <!-- <svg></svg> goes here-->
        </div>
    </template>
    
    <script>

        class Toast extends Element {

            constructor(level, message, icon=null, delay=10000){


                super( build("t-toast"), document.querySelector("#toasts"))
                this.tag("show");
                this.tag(`${level}`);
                
                let svg;
                switch (level) {
                    case "ok":                             
                        icon == null ?
                            svg = new SVG("checkbox-circle-line") :
                            svg = new SVG(icon);
                        console.log(message) 
                    break;
                    case "info":  
                        icon == null ?
                            svg = new SVG("information-line") :
                            svg = new SVG(icon); 
                        console.log(message)
                    break;
                    case "error": 
                        icon == null ?
                            svg = new SVG("error-warning-line") :
                            svg = new SVG(icon);
                        console.error(message) 
                    break;
                }

                this.e.append(svg.e) ;

                this.select(".message").innerText = message

                setTimeout( _ => this.untag("show") , delay)
                setTimeout( _ => this.remove()      , delay+1000)

            }

        } 

    </script>