    <!-- WEBSOCKETS ------ ------ ------ ------ -->

    <script>

        // a wrapper on Websocket.send() that waits for connection to be established

        function wsend(ws, msg, timeout = 5000) {

            const startTime = Date.now();

            const interval = setInterval(function () {
                if (ws.readyState === 1) {  // Check if WebSocket is open
                    clearInterval(interval);
                    ws.send(msg); 
                } 
                else if (Date.now() - startTime > timeout) {  // Check if timeout exceeded
                    clearInterval(interval); 
                    console.error('WebSocket connection timed out. Message not sent.');
                }
            }, 5);  // Check every 5 milliseconds

        }

    </script>
