

.footer-panel > .self-footer-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1vw;
}


.footer-panel > .self-footer-panel .ok_cookie{
  width: 5vw;
  height: 2vw;
  background: var(--red);
}

.footer-panel[ok_cookie] > .self-footer-panel .ok_cookie {
  background: var(--dgreen);
}

.footer-panel > .self-footer-panel .login{
  width: 5vw;
  height: 2vw;
  background: var(--red);
}

.footer-panel[logged] > .self-footer-panel .login {
  background: var(--dgreen);
}

.footer-panel > .self-footer-panel .logout{
  width: 5vw;
  height: 2vw;
}

.footer-panel[logged] > .self-footer-panel .logout{

}


.footer-panel > .self-footer-panel .c-login{
  width: fit-content;
}

.footer-panel > .self-footer-panel .c-loggedin{
  width: fit-content;
}

.footer-panel > .self-footer-panel button {
  margin-left: auto;
}


.footer-panel > .self-footer-panel > .c-role {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 10vw;
}

.footer-panel > .self-footer-panel .choice {
  display: flex;
  align-items: center;
  gap: 1vw;
  justify-content: flex-start;
  margin-right: auto;
  cursor: pointer;
}

.footer-panel > .self-footer-panel .choice[active] {
  cursor: default;
}

.footer-panel > .self-footer-panel .choice svg {
  fill: var(--beige);
  height: 3.5vw;
  width: 3.5vw;
  margin: auto;
}

.footer-panel > .self-footer-panel .choice span{
  color: var(--beige);
  font-size: 3.5vw;
  margin: auto;
}

.footer-panel > .self-footer-panel .choice[active] svg {
  fill: var(--green);
}
.footer-panel > .self-footer-panel .choice[active] span{
  color: var(--green);
}