    <!-- MISCELLANEOUS UTILS ------ ------ ------ ------ -->

    <script>

    // a funciton that does nothing
    function noop() {}

    // generates a random id
    function random_id(prefix="") {
        var result           = prefix ;
        var characters       = 'abcdef0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < 10; i++ ) { result += characters.charAt(Math.floor(Math.random() * charactersLength)); }
        return result;
    }

    // converts a ISO 8601 timestamp string into a human friendly format
    function date(isostring) {

        const date = new Date(isostring);

        const formattedDate = new Intl.DateTimeFormat('fr-FR', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            timeZoneName: 'short'
        }).format(date);

        return formattedDate ;

    } 


    // Function to find an object in an array by attribute value
    function find(array, attributeName, attributeValue) {
        return array.find(item => item[attributeName] === attributeValue);
    }


    class Test {

        static auth () {
            call('GET', '/auth/test')
        }

    }

    </script>