    <!-- USERS ------ ------ ------ ------ -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/blocks/users.css') }}">

    <template id=t-user>
        <div class="user">
            <span class=name></span>
            <div class=status rounded embossed></div>
        </div>
    </template>
    <script>
    class User extends Container {

        constructor(eParent=null){
            super( build("t-user"), eParent)
        }

        set name(text)      { this.select(".name").innerText = text ; this.id = text}
        set online(bool)    { bool ? 
                                this.select(".status").setAttribute("online", "") : 
                                this.select(".status").removeAttribute("online") 
                            }

    }
    </script>

    <template id=t-users>
        <div class="users"></div>
    </template>
    <script>
    class Users extends Container {

        constructor(eParent=null){
            super( build("t-users"), eParent)
            this.users = []

        }

        add(user_id, status) {

            if ( this.users.includes(user_id) ) { 
                console.warn (`${user} already registered in room: can't add` ) 
                return
            } 
                
            this.users[user_id] = new User()
            
            this.users[user_id].name = user_id
            this.e.append(this.users[user_id].e)

            status == "online" ?
                this.users[user_id].online = true :
                this.users[user_id].online = false

        }

        remove(user_id) {

            if ( !this.users.includes(user_id) ) { 
                console.warn (`${user} not in room: cna't remove` )
                return
            } 

            this.user = this.user.filter(item => item !== user_id)
            this.getElementById( this.users[user_id].id ).remove() ;

        }

        online(user_id)     { this.users[user_id].online = true }
        offline(user_id)    { this.users[user_id].online = false }

    }
    </script>