    <!-- QRCODE ------ ------ ------ ------ -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/qrcode.css') }}" />

    <template id=t-qrcode>
        <div class="qrcode" rounded>
            <img/>
        </div>
    </template>
    <script>

    class QRCode extends Element {

        constructor(eParent){

            super( build("t-qrcode"), eParent )

        }

        async updateLink(link) { 

            this.active = false
            const resp = await call("GET", "/api/v1/qrcode", {link: link, size: 4} )
            const data = await resp.blob()

            imageAssign( this.select("img"), data )

        }

    }

    </script>
