
[hidden] {
    display: none !important;
    visibility: hidden;
}

[hoverable] {
    transition: all 0.4s ease-in-out;
}

[hoverable]:hover {
    cursor: pointer;
    filter: brightness(105%);
}

[disabled] {
     box-shadow: 0px 0px 0px #00000099 !important;
}
[disabled]:hover {
    cursor: not-allowed !important;
}

[rounded] {
    border-radius: max(1vw, 2%)
}

[noselect] {
    user-select: none;
    -webkit-user-select: none;
}


svg {
    fill: var(--beige);
    height: 24px;
    width: 24px;
    display: block;
}