

#toasts {

    position: fixed;

    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    z-index:50;

    bottom: 5vw;
    left: 5vw;
    padding: 2vw;
}

#toasts .toast {

    visibility: hidden;
    opacity: 0;
    transition: 1s;
    display: flex;
    margin-bottom: 2vw;

    padding: 0.5vw;
    border-radius: 2vw;

    background: black;
    box-shadow: 0.5vw 0.5vw 1vw black;
}

#toasts svg {
    margin: 0.5vw;
    margin-right: 0.5vw;
    height: 3vw;
    width: 3vw;
}

#toasts .message {

    margin: auto;

    margin-left: 0.5vw;
    margin-right: 1vw;
    font-size: 3vw;
}
    

#toasts .toast[error] .message {
    color: var(--red);
}
#toasts .toast[error] svg {
    fill: var(--red);
}

#toasts .toast[info] .message {
    color: var(--lblue);
}
#toasts .toast[info] svg {
    fill: var(--lblue);
}

#toasts .toast[ok] .message {
    color: var(--green);
}
#toasts .toast[ok] svg {
    fill: var(--green);
}

#toasts .toast[show] {
    visibility: visible;
    opacity: 1;
}


