{% block debug %}{% endblock %}

<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright"content="pcariou.fr">
    <meta name="language" content="FR">
    <meta name="robots" content="index,follow" />
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}" />

    {# COMMONS/LIBS #}
    {% include 'common/libs/http.jinja' %}
    {% include 'common/libs/events.jinja' %}
    {% include 'common/libs/datadog.jinja' %}
    {% include 'common/libs/cookies.jinja' %}
    {% include 'common/libs/misc.jinja' %}

    {# COMMONS/ELEMENTS #}
    {% include 'common/elements/elements.jinja' %}
    {% include 'common/elements/buttons.jinja' %}
    {% include 'common/elements/qrcode.jinja' %}
    {% include 'common/elements/footer.jinja' %}
    {% include 'common/elements/input.jinja' %}

    {% block head %}{% endblock %}

</head>

<body>
    
    <link rel="shortcut icon" type="image/png" sizes="any" href="/favicon.png"/>

    <!-- ASSESS MOBILE ------ ------ ------ ------ -->
    <script> 
        
        let SIZE_S = window.matchMedia("(pointer:none), (max-width: 800px)")
        function assessLayout() { 
            SIZE_S.matches ? document.body.id = "S" : document.body.id = "M" 
        }
        assessLayout() ; 
        SIZE_S.addEventListener("change", _ => assessLayout() )

    </script>

    <header> </header> 
    <div class="page"> 
    
    {% block body %}{% endblock %}

    </div> 

</body>

</html>