
.tables {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 80vh;
    align-items: center;
}
.table {
    width: 90%;
    border: 1px solid var(--beige);
    border-radius: 1vw;
    box-shadow: 1vw 1vw 1vw rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
h1 {
    text-align: center;
    background-color: var(--dbrown);
    padding: 1vw;
    margin: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    border-bottom: 1px solid var(--beige);
    text-align: left;
}
th {
    background-color: var(--dbrown);
    font-weight: bold;
}
td {
    background-color: var(--dbeige);
}
tr:hover {
    background-color: var(--dbeige);
    color: var(--dblue);
}
