<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright"content="pcariou.fr">
    <meta name="language" content="FR">
    <meta name="robots" content="index,follow" />
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}" />

    {% include 'blocks/utils.jinja' %}
    {% include 'blocks/containers.jinja' %}

    {% include 'blocks/events.jinja' %}
    {% include 'blocks/buttons.jinja' %}

    {% include 'blocks/datadog.jinja' %}

    {% block head %}{% endblock %}

</head>

<body dgreen>
    
    <link rel="shortcut icon" type="image/png" sizes="any" href="/favicon.png"/>
            
    <header> </header> 
    <div id="page"> 
    
    {% block body %}{% endblock %}
    
    </div> 

</body>

<!-- ASSESS MOBILE ------ ------ ------ ------ -->
<script> 
    
    let SIZE_S = window.matchMedia("(pointer:none), (max-width: 800px)")
    function assessLayout() { 
        SIZE_S.matches ? document.body.id = "S" : document.body.id = "M" 
    }
    assessLayout() ; 
    SIZE_S.addEventListener("change", _ => assessLayout() )

</script>

</html>