.remote-cursor {
    position: absolute;
    pointer-events: none; 
    z-index: 100;
    transition: left 0.1s ease, top 0.1s ease, opacity 0.5s ease;
    transform: translate(-1.5vw, -3vw);
    opacity: 0;
    
    display: flex;
    align-items: center;
}

.remote-cursor svg {
    position: relative;
    width: 3vw;
    height: 3vw;
}

.remote-cursor svg path {
    stroke: black;
    stroke-width: 0.1vw;
}

.remote-cursor div.name {
    position: relative;
    font-size: 1.5vw;
    border-radius: 1vw;
    text-align: left;
    margin: auto;
    width: max-content;
    padding-right: 1vw;
    padding-left: 1vw;
    background: var(--black);
    opacity: 0.8;
}
