
.room-footer-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1vw
}

.room-footer-panel > * {
    margin: auto;
}


.room-footer-panel .users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vw;
    position: relative;
    margin: auto;
}

.room-footer-panel .user {
    display: flex;
    align-items: center;
    background: var(--beige);
    height: 2.5vw;
    width: 10vw ;
    position: relative;
    border-radius: 0.5vw
}

.room-footer-panel .users span.group {
    color: var(--beige);
    font-size: 1.5vw;
    margin: auto;
}

.room-footer-panel .user span.name {
    color: var(--dblue);
    font-size: 1.5vw;
    text-align: right;
    margin: auto;
}

.room-footer-panel .user div.status {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
    background: var(--red);
}

.room-footer-panel .user div.status[online] {
    background: var(--green);
}





.footer-panel > .self-footer-panel > .c-role {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 10vw;
  }
  
  .footer-panel > .self-footer-panel .choice {
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: flex-start;
    margin-right: auto;
    cursor: pointer;
  }
  
  .footer-panel > .self-footer-panel .choice[active] {
    cursor: default;
  }
  
  .footer-panel > .self-footer-panel .choice svg {
    fill: var(--beige);
    height: 3vw;
    width: 3vw;
    margin: auto;
  }
  
  .footer-panel > .self-footer-panel .choice span{
    color: var(--beige);
    font-size: 2vw;
    margin: auto;
  }
  
  .footer-panel > .self-footer-panel .choice[active] svg {
    fill: var(--green);
  }
  .footer-panel > .self-footer-panel .choice[active] span{
    color: var(--green);
  }