
.table {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 5vw 0 5vw 0;

    --card-w: 12vw; /* card width */
    --card-h: 18vw; /* card height */
    --card-c: 8vw;  /* card corner (square)-size */
    --card-ff: 8vw;  /* card front font size */
    --card-bf: 3vw;  /* card back font size */
    --card-rotation: -20deg; /* Initial rotation */

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

}

.table .area {
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 2vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.table .area svg {
    position: absolute;
    width: 80%;
    height: 80%;
    top:10%;
    left:10%;
    fill: var(--green)
}


.table .topic {
    width: 60vw;
    margin-bottom: 2vw;
    padding: 1.5vw 2vw;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    color: var(--beige);
}

.table .playground {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    width: 60vw;
}


.deck {
    width: var(--card-w);
    height: var(--card-h);
    position: relative;
}


