

#toasts {

    position: fixed;

    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    z-index:50;

    bottom: 5vw;
    right: 5vw;
    padding: 2vw;
}

#toasts .toast {

    visibility: hidden;
    opacity: 0;
    transition: 1s;
    display: flex;
    margin-left: auto;
    margin-bottom: 2vw;
    cursor: none;

    filter: drop-shadow( 0.5vw 0.5vw 1vw black);
}

#toasts svg {

    height: 3.5vw;
    width: 3.5vw;
    fill: var(--black);
    border-radius: 0 2vw 2vw 0;
    padding: 0.5vw 2vw 0.5vw 0.5vw;
    padding-right: 1vw;
}

#toasts .message {
    
    background: black;
    margin: auto;
    padding: 0.5vw 1vw 0.5vw 2vw ;

    font-size: 3vw;
    border-radius: 2vw 0 0 2vw;
}
    

#toasts .toast[error] .message {
    color: var(--red);
}
#toasts .toast[error] svg {
    background: var(--red);
}

#toasts .toast[info] .message {
    color: var(--lblue);
}
#toasts .toast[info] svg {
    background: var(--lblue);
}

#toasts .toast[ok] .message {
    color: var(--green);
}
#toasts .toast[ok] svg {
    background: var(--green);
}

#toasts .toast[show] {
    visibility: visible;
    opacity: 1;
}


