    <!-- FOOTER ------ ------ ------ ------ -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/elements/footer.css') }}" />


    <!-- FooterEntry -->

    <template id=t-footer-entry>
        <div class="entry">
            <span class="name"></span>
            <div class="panel-content"></div>
        </div>
    </template>


    <script>

    class FooterEntry extends Element {

        constructor(eParentID) {

            let eParent
            let validIDs = ["left-entries", "right-entries"]
            
            validIDs.includes(eParentID) ?
                super( build("t-footer-entry"), document.getElementById(eParentID) ) :
                console.error(`${eParentID} isn't a valid container for FooterEntry`)      

            this.onclick = (event => {

                const panel = document.getElementById('footer-panel');
                
                // Get the clicked button's position
                const buttonRect = event.target.getBoundingClientRect();

                // Set the panel's left position to align with the button
                panel.style.left = `${buttonRect.left}px`;
                console.log(`${buttonRect.left}px`)

                // Toggle the visibility of the panel
                panel.classList.toggle('show');
                
            })

        }

        set name(text)      { this.select("span.name").innerText = text }
        set panel(element)  {
            this.select("div.panel-content").replaceChildren(element)
        }

    }
    </script>



    <!-- Footer -->


    <div class="footer-panel" id="footer-panel">

    </div>

    <footer>
        <div class="entries" id="left-entries">
            <!-- Array of [ FooterEntries ] <div class="entry"></div> -->
        </div>
        <div class="entries" id="right-entries">
            <!-- Array of [ FooterEntries ] <div class="entry"></div> -->
        </div>
    </footer>

