    <!-- FOOTER ------ ------ ------ ------ -->

    <link rel="stylesheet" href="{{ url_for('static', filename='commons/styles/footer.css') }}" />


    <!-- FooterEntry -->

    <template id=t-footer-entry>
        <div class="entry" hoverable>
            <div class="icon"><!-- SVG --></div>
            <span class="name"></span>
        </div>
    </template>

    <script>

    class FooterEntry extends Element {

        constructor(eParentID) {

            let validIDs = ["left-entries", "right-entries"]
            
            super( build("t-footer-entry"), document.getElementById(eParentID) )
            this.footerPanel = new FooterPanel() 


            this.onclick = (event => {

                this.footerPanel.toggle("stashed") ;

                // const buttonRect = event.target.getBoundingClientRect();
                const buttonRect = this.e.getBoundingClientRect();

                const viewportWidth = window.innerWidth;

                if (eParentID === "right-entries") {
                    this.footerPanel.e.style.right = `${viewportWidth - buttonRect.right}px`;
                }
                
                if (eParentID === "left-entries") {
                    this.footerPanel.e.style.left = `${buttonRect.left}px`;
                }

            })

        }

        set name(text)      { this.select(".name").innerText = text }
        set icon(icon)      { 
            
            let svg = new SVG(icon)
            this.select(".icon").replaceChildren()
            this.select(".icon").append(svg.e) 

        }

        set panel(element)  {
            this.footerPanel.e.replaceChildren(element)
        }

    }
    </script>
    
    <template id=t-footer-panel>
        <div class="footer-panel" stashed>
            <!-- Panel Content -->
        </div> 
    </template>

    <script>
    class FooterPanel extends Element {

        constructor(eParentID) {

            super( build("t-footer-panel"), document.getElementById("footer-panels") )

        }

    }

    </script>



    <!-- Footer -->


    <div id="footer-panels"></div>
    <footer>
        <div class="entries" id="left-entries">
            <!-- Array of [ FooterEntries ] <div class="entry"></div> -->
        </div>
        <div class="entries" id="right-entries">
            <!-- Array of [ FooterEntries ] <div class="entry"></div> -->
        </div>
    </footer>

