{% block debug %}{% endblock %}

<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright"content="pcariou.fr">
    <meta name="language" content="FR">
    <meta name="robots" content="index,follow" />
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='commons/layout.css') }}" />

    {# COMMONS/LIBS #}
    <script type="text/javascript" src="{{ url_for('static', filename='commons/libs/http.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='commons/libs/events.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='commons/libs/cookies.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='commons/libs/misc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='commons/libs/tests.js') }}"></script>

    {# COMMONS/ELEMENTS #}
    {% include 'commons/elements.jinja' %}
    {% include 'commons/buttons.jinja' %}
    {% include 'commons/qrcode.jinja' %}
    {% include 'commons/footer.jinja' %}
    {% include 'commons/input.jinja' %}
    {% include 'commons/cursor.jinja' %}
    {% include 'commons/toast.jinja' %}

    {% block head %}{% endblock %}

    {% include 'commons/datadog.jinja' %}

</head>

<body>
    
    <link rel="shortcut icon" type="image/png" sizes="any" href="/favicon.png"/>

    <!-- ASSESS MOBILE ------ ------ ------ ------ -->
    <script> 
        
        {# const HEADERS = {"X-CSRFToken":"{{ csrf_token() }}"} #}

        let SIZE_S = window.matchMedia("(pointer:none), (max-width: 800px)")
        function assessLayout() { 
            SIZE_S.matches ? document.body.id = "S" : document.body.id = "M" 
        }
        assessLayout() ; 
        SIZE_S.addEventListener("change", _ => assessLayout() )

    </script>

    <header> </header> 
    <div class="page"> 
    
    {% block body %}{% endblock %}

    <div id=toasts> </div>
    </div> 

</body>

</html>